<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.dao.PersonDao">

	<insert id="save">
		insert into person(id,name,address,age) 
		values(#{id},#{name},#{address},#{age})
	</insert>
	
	<select id="findByNameAndAddress" resultType="com.mybatis.domain.Person">
		select * from person where name=#{name} and address = #{address}
	</select>

</mapper>